<%= render 'layouts/top-navigation-bar' %>
<header class="services-header no-margin-bottom">
  <div class="primary-dark-div">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-push-4 col-md-7 col-md-push-5 col-sm-6 col-sm-push-6">
          <div class="profile-header-text">
            <h1>Eren YILDIZ</h1>
            <h2>@nerzid</h2>
          </div>
        </div>
      </div>

      <div class="profile-avatar-container">
        <!--<img class="profile-avatar" height="250px" width="250px" src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/15673026_10155498726913265_8459015458711860567_n.jpg?oh=24a471672467a43d9d0bb2082ea9e543&oe=5972BCEA" alt="">-->
        <%= form_for @user, url: user_path, html: { multipart: true } do |form| %>
            <%= form.file_field :avatar , :value => "Hello" , :class => "avatar_file_upload" , "onchange" => "this.form.submit();" %>
        <% end %>
        <div class="profile-avatar ">
          <%= image_tag @user.avatar.url(:medium), :class => "avatar-picture" %>
          <div class=" avatar-icon">
            <span class="glyphicon glyphicon-camera" style="font-size: 50px; width: inherit; height: inherit "></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- This script is to give the effect of the uploading image like facebook -->
<script type="application/javascript">
  $(function(){
     $(".profile-avatar").mouseover(function(){
         $(".avatar-icon").css("opacity", "1");
         $(".avatar-picture").css("opacity", "0.5");
     });
      $(".profile-avatar").mouseleave(function(){
          $(".avatar-icon").css("opacity", "0");
          $(".avatar-picture").css("opacity", "1");
      });
  });


  $(".profile-avatar").click(function(){
      $(".avatar_file_upload").click();
    });

</script>

<style type="text/css">

    .avatar_file_upload{
      visibility: hidden;
    }
    .avatar-icon {
      opacity: 0;
      position: absolute;
      left: 50%;
      top: 90%;
      transform:translate(-50%, -50%);
      width:100%; /* You can specify ANY width values here */
      background-color: #2E2F30;
    }
    .avatar-picture {
      margin: auto;
    }
    .profile-avatar {
      text-align: center;
    }

</style>

<nav class="nav-profile">
  <div class="container">
    <div class="col-lg-8 col-lg-push-4 col-md-7 col-md-push-5 col-sm-6 col-sm-push-6">
      <ul class="profile-counters">
        <li><a href="#">14 <span>Posts</span></a></li>
        <li><a href="#">75 <span>Comments</span></a></li>
        <li><a href="#">148 <span>Tweets</span></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-5">
      <h2 class="right-line">Personal Information</h2>
      <section>
        <div class="panel panel-primary">
          <div class="panel-heading"><i class="fa fa-user"></i> General Information</div>
          <table class="table table-striped">
            <tr>
              <th>Username</th>
              <td>nerzid</td>
            </tr>
            <tr>
              <th>Fullname</th>
              <td>Eren YILDIZ</td>
            </tr>
            <tr>
              <th>Email</th>
              <td><a href="#">nerzid@gmail.com</a></td>
            </tr>
            <tr>
              <th>Website</th>
              <td><a href="#">www.nerzid.com</a></td>
            </tr>
            <tr>
              <th>Member Since</th>
              <td>9/30/2010</td>
            </tr>
          </table>
        </div>
      </section>
      <h2 class="right-line">Update Profile</h2>
      <section>
        <form role="form">
          <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-ar btn-success btn-block">Update</button>
        </form>
        <hr>
        <a href="#"class="btn btn-ar btn-block btn-warning">Edit your profile</a>
      </section>
    </div>
    <div class="col-md-7">
      <h2 class="right-line">Latest Activity</h2>
      <ul class="timeline-2">
        <li class="wow fadeInRight">
          <time class="timeline-time" datetime="">14/1/2012 <span>Junuary</span></time>
          <i class="timeline-2-point"></i>
          <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-comment-o"></i> Comment in <a href="#">Title post or article</a></div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, illum aspernatur placeat eveniet ullam modi asperiores perspiciatis labore animi odio ea dicta consectetur similique. Soluta officiis facilis velit sunt rem.</p>
            </div>
          </div>
        </li>
        <li  class="wow fadeInRight">
          <time class="timeline-time" datetime="">31/5/2014 <span>May</span></time>
          <i class="timeline-2-point"></i>
          <div class="panel panel-primary">
            <div class="panel-heading"><i class="fa fa-picture-o"></i> Post an Image</div>
            <div class="video">
              <!--<img src="assets/img/demo/office2.jpg" alt="" width="100%" class="img-responsive">-->
            </div>
          </div>
        </li>
        <li  class="wow fadeInRight">
          <time class="timeline-time" datetime="">22/10/2012 <span>October</span></time>
          <i class="timeline-2-point"></i>
          <blockquote class="blockquote-color-bg-primary">
            <p><i class="fa fa-quote-right"></i> <strong>Blockquote in timeline!</strong> consectetur adipiscing elit. Integer sodales sagittis magna. consectetur adipiscing elit sed consequat, quam semper libero.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </li>
        <li  class="wow fadeInRight">
          <time class="timeline-time" datetime="">29/7/2013 <span>July</span></time>
          <i class="timeline-2-point"></i>
          <div class="panel panel-success">
            <div class="panel-heading">Success color in panel event</div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, illum aspernatur placeat eveniet ullam modi asperiores perspiciatis labore animi odio ea dicta consectetur similique. Soluta officiis facilis velit sunt rem.</p>
            </div>
          </div>
        </li>
        <li  class="wow fadeInRight">
          <time class="timeline-time" datetime="">15/8/2013 <span>August</span></time>
          <i class="timeline-2-point"></i>
          <div class="panel panel-primary">
            <div class="panel-heading"><i class="fa fa-video-camera"></i> Responsive video in timeline</div>
            <div class="video">
              <iframe src="http://player.vimeo.com/video/50061391?title=0&amp;byline=0&amp;portrait=0"></iframe>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
