<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="col-xs-8 col-md-8 col-lg-8">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <div class="input-group input-group-md">
            <span class="input-group-addon transparent"><span class="glyphicon glyphicon-search" style="margin-top: 0px;"></span></span>
            <input class="form-control left-border-none" placeholder="Search things..." type="text" name="search_text">
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <a href="#"><span class="glyphicon glyphicon-home" style="font-size: 21px; margin-top: 0px;"></span></a>
          <a href="#"><span class="glyphicon glyphicon-envelope" style="font-size: 21px;margin-top: 0px;"></span></a>
          <a href="#"><span class="glyphicon glyphicon-user" style="font-size: 21px;margin-top: 0px;"></span></a>
        </div>
      </form>
    </div>
  </div>
</nav>
